cryptography==45.0.7
desktopmagic==14.3.11
einops==0.8.1
ftfy==6.3.1
gputil==1.4.0
imageio==2.27.0
imagesize==1.4.1
inflection==0.5.1
langchain-community==0.2.0
langchain-openai==0.1.7
onepush==1.3.0
opencv-contrib-python==4.10.0.84
opencv-python==4.6.0.66
openpyxl==3.1.5
paddleocr==3.1.0
paddlepaddle==3.1.0
premailer==3.10.0
pyautogui==0.9.54
pycaw==20251023
pynput==1.8.1
pyparsing==3.2.3
pypdfium2==4.30.0
pywebio==1.7.1
pywin32==311
rich==13.3.3
scikit-learn==1.6.1
starlette==0.26.1
tee==0.0.3
tokenizers==0.21.4
uiautomator2==2.16.26
uiautomator2cache==0.3.0.1
uvicorn==0.21.1
websockets==10.4
winotify==1.1.0
